*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 5px 0;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

/*header*/

header{
    width: 100%;
    height: 500px;
    background: #a8c0ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(251, 55%, 38%, 0.603), hsla(223, 100%, 83%, 0.603)), url(seguridad-tarjeta2.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(251, 55%, 38%, 0.603), hsla(223, 100%, 83%, 0.603)), url(seguridad-tarjeta2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.textos-portada{
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textos-portada h1{
    font-size: 50px;
    color: #fff;
}

.textos-portada h2{
    font-size: 20px;
    font-weight: 500px;
    color: #fff;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#mensaje{
    color: red;
    font-size: 15px;
}

.imagenTarjetas{
    width: 400px; 
    margin-right: 200px;
    bottom: 20px;
}

.formulario{
    width: 300px;
    background: hsla(223, 50%, 79%, 0.719);
    margin: 0px 10px 50px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.formulario p{
   padding: 5px;
   font-size: 15px;
   color: rgb(6, 6, 70);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formulario input{
    padding: 5px;
   text-align: center;
   border-radius: 5px;
   margin: 5px;
   border-color: rgb(141, 193, 223);
 }

 .botons{
     width: 100%;
 }